.part-left{
    width: 55rem;
    background-color: antiquewhite;
    height: 37rem;
    margin-right: 8rem;
    margin-top: 10rem;
}
.part-right{
    width: 55rem;
    background-color: antiquewhite;
    height: 37rem;
    margin-top: 10rem;
}
h2{
    text-align: center;
    margin-top: 8rem;
}
